* {
    font-size: 16px;
}

.landing-post-container {
    margin: 30px;
}

.landing-post-title {
    position: realtive;
    font-size: 1.8rem;
    margin-bottom: 0.83rem;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}
.landing-post-body {
    margin-left: 15px;
    display: flex;
    font-family: 'Open Sans', sans-serif; 
    line-height: 1.3
}

.hr {
    margin-top: 1rem;
}

svg {
    position: absolute;
    right: 30px;
    width: 20px;
    height: auto;
}
.link {
    text-decoration: none;
}