* {
    font-size: 16px;
}
.header-container {
    height: 100px;
    width: 100%;
    background-color: #6ED3CF;
    position: realtive;
    display: flex;
    align-items: center;
}
.logo-name-desktop {
    font-family: 'Dosis';
    font-weight: 700;
    font-size: 3rem;
    color: #787778;
    margin-left: 30px;
    display: none;
}

.logo-letter-mobile {
    font-family: 'Dosis';
    font-weight: 700;
    font-size: 5rem;
    color: #787778;
    margin-left: 30px;
}

.create-post-btn {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #e62739;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-post-btn h1 {
    color: white;
    font-size: 3em;
}