@import url('https://fonts.googleapis.com/css?family=Dosis:300,700|Open+Sans');
body {
    background-color: #eaeef2;
}
* {
    font-size: 16px;
}
/***************LANDING PAGE STYLES***************/

.landing-post-container {
    margin: 30px;
}

.landing-post-title {
    position: relative;
    font-size: 1.8rem;
    margin-bottom: 0.83rem;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}
.landing-post-body {
    margin-left: 15px;
    display: flex;
    font-family: 'Open Sans', sans-serif; 
    line-height: 1.3;
    color: #7d50b2;
}

.hr {
    margin-top: 1rem;
    color: #7d50b2;
}

.landing-svg {
    position: absolute;
    right: 30px;
    width: 20px;
    height: auto;
}
.link {
    text-decoration: none;
}

/***************POST CREATOR STYLES***************/

.input-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-title {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;
    border: 3px solid #c7b8d8;
    font-size: 24px;
}

.input-title:focus {
    border: 3px solid #9068be;
}

.create-btn {
    background-color: #9068be; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
}
.button-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

/**************HEADER STYLES***************/

.header-container {
    height: 100px;
    width: 100%;
    background-color: #6ED3CF;
    position: realtive;
    display: flex;
    align-items: center;
}
.logo-name-desktop {
    font-family: 'Dosis';
    font-weight: 700;
    font-size: 3rem;
    color: #787778;
    margin-left: 30px;
    display: none;
}

.logo-letter-mobile {
    font-family: 'Dosis';
    font-weight: 700;
    font-size: 5rem;
    color: #787778;
    margin-left: 30px;
}

.create-post-btn {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #e62739;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-post-btn h1 {
    color: white;
    font-size: 3em;
}

/**********POST DETAIL STYLES*************/

.post-detail-title, .location-container, .time-date-container {
    padding: 30px 0 0 30px;
    color: #787778;
}

.post-detail-title {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

.post-detail-body {
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #7d50b2;
}

.moon-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.location-container, .time-date-container {
    position: relative;
    display: flex;
    align-items: center;
}
.detail-svg {
    position: absolute;
    left: 30px;
    color: #787778;
    width: 24px;
}
.location-container h4, .time-date-container h4 {
    padding-left: 35px;
    text-transform: uppercase;
}

.wi {
    font-size: 5em;
    color: #787778;
}

/*******************************************
MEDIA QUERIES
********************************************/

/* once we reach larger than 750px, apply these new styles*/
@media(min-width: 750px) {
    .logo-letter-mobile {display: none}
    .logo-name-desktop {display: block}
}